# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
D:/Personal\ Mods/Wills-Workshop/src/main/java/net/raccoon/will/willsworkshop/datagen

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

